

:root{
    --primary-color: #0A1F33;
    --body: #021021;
    --color1:#E6E6E6;
    --color2:#CCCCCC;
    --color:#808080;
    --bgc:#021021;
    --color3: #00C2CB;
    
}
.designation{
    color: var(--color3);
    text-align: center;
}
